<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCkXOPdW8FyG8A_1QASstBOPHsTRolu_U">
    </script>
    <script type="text/javascript">
        
    </script>
</head>
<body>
    <div id="content">
        @RenderBody()
    </div>

    <div id="map-canvas"/>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
